<!-- app/views/stocks/highRisk.scala.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <title>High Risk Stocks</title>
</head>
<body>
<div class="container">
    <h1>High Risk Stocks</h1>
    <ul>
        <li>NBCC</li>
        <li>NHPC</li>
        <li>TRIDENT</li>
        <li>JAMNA AUTO</li>
        <li>SHREE DIGVIJAY CEMENT</li>
        <li>ADVANI HOTELS</li>
    </ul>
    <p><a href="@routes.HomeController.index()">Back to Home</a></p>
</div>
</body>
</html>
