<!-- app/views/stocks/lowRisk.scala.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <title>Low Risk Stocks</title>
</head>
<body>
<div class="container">
    <h1>Low Risk Stocks</h1>
    <ul>
        <li>TATA MOTORS</li>
        <li>TATA POWER</li>
        <li>DABUR</li>
        <li>DEEPAK FERTILIZERS</li>
        <li>CAMPUS</li>
        <li>L&T</li>
        <li>HDFC BANK</li>
    </ul>
    <p><a href="@routes.HomeController.index()">Back to Home</a></p>
</div>
</body>
</html>
