<!-- app/views/stocks/mediumRisk.scala.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <title>Medium Risk Stocks</title>
</head>
<body>
<div class="container">
    <h1>Medium Risk Stocks</h1>
    <ul>
        <li>BANK OF BARODA</li>
        <li>SAMVARDHAN MOTHERSON</li>
        <li>NTPC</li>
        <li>INDIAN OIL CORPORATION</li>
        <li>ADANI GREEN ENERGY</li>
        <li>CDSL</li>
    </ul>
    <p><a href="@routes.HomeController.index()">Back to Home</a></p>
</div>
</body>
</html>
